In [1]:
from scipy.io import arff
import pysubgroup as ps
import pandas as pd
import numpy as np
%matplotlib inline

In [2]:
data = pd.DataFrame (arff.loadarff("/Users/lemmerich/Documents/data/data/credit-g.arff") [0])

In [3]:
target = ps.NumericTarget ('age')
searchSpace = ps.createSelectors(data, ignore=['age'], nbins=10)

task = ps.SubgroupDiscoveryTask (data, target, searchSpace, 
                                 resultSetSize=10, depth=3, 
                                 qf=ps.StandardQF_numeric(1, False))

In [4]:
%time result = ps.DFS_numeric().execute(task)
for (q, sg) in result:
    print (str(q) + ":\t" + str(sg.subgroupDescription))

CPU times: user 1.21 s, sys: 5.8 ms, total: 1.22 s
Wall time: 1.25 s
1791.862:	employment=b"'>=7'"
1753.592:	employment=b"'>=7'" AND foreign_worker=b'yes'
1665.236:	employment=b"'>=7'" AND other_parties=b'none'
1648.874:	employment=b"'>=7'" AND other_parties=b'none' AND foreign_worker=b'yes'
1610.236:	personal_status=b"'male single'" AND residence_since=4.0
1578.058:	personal_status=b"'male single'" AND foreign_worker=b'yes' AND residence_since=4.0
1546.064:	personal_status=b"'male single'" AND other_parties=b'none' AND residence_since=4.0
1514.088:	employment=b"'>=7'" AND residence_since=4.0
1512.254:	employment=b"'>=7'" AND num_dependents=1.0
1493.346:	employment=b"'>=7'" AND foreign_worker=b'yes' AND num_dependents=1.0

In [5]:
ps.as_df (data, result, ps.all_statistics_numeric)

,quality,subgroup,size_sg,size_dataset,mean_sg,mean_dataset,std_sg,std_dataset,median_sg,median_dataset,max_sg,max_dataset,min_sg,min_dataset,mean_lift,median_lift
0,1791.862,"employment=b""'>=7'""",253.0,1000.0,42.628458,35.546,11.127553,11.369779,42.0,33.0,74.0,75.0,20.0,19.0,1.199248,1.272727
1,1753.592,"employment=b""'>=7'"" AND foreign_worker=b'yes'",248.0,1000.0,42.616935,35.546,11.209624,11.369779,41.0,33.0,74.0,75.0,20.0,19.0,1.198924,1.242424
2,1665.236,"employment=b""'>=7'"" AND other_parties=b'none'",234.0,1000.0,42.662393,35.546,11.235690,11.369779,41.0,33.0,74.0,75.0,20.0,19.0,1.200202,1.242424
3,1648.874,"employment=b""'>=7'"" AND other_parties=b'none' ...",231.0,1000.0,42.683983,35.546,11.283427,11.369779,41.0,33.0,74.0,75.0,20.0,19.0,1.200810,1.242424
4,1610.236,"personal_status=b""'male single'"" AND residence...",234.0,1000.0,42.427350,35.546,12.084331,11.369779,40.5,33.0,75.0,75.0,20.0,19.0,1.193590,1.227273
5,1578.058,"personal_status=b""'male single'"" AND foreign_w...",227.0,1000.0,42.497797,35.546,12.231387,11.369779,41.0,33.0,75.0,75.0,20.0,19.0,1.195572,1.242424
6,1546.064,"personal_status=b""'male single'"" AND other_par...",216.0,1000.0,42.703704,35.546,11.976257,11.369779,41.0,33.0,75.0,75.0,20.0,19.0,1.201365,1.242424
7,1514.088,"employment=b""'>=7'"" AND residence_since=4.0",172.0,1000.0,44.348837,35.546,11.718865,11.369779,43.0,33.0,74.0,75.0,20.0,19.0,1.247646,1.303030
8,1512.254,"employment=b""'>=7'"" AND num_dependents=1.0",201.0,1000.0,43.069652,35.546,11.659136,11.369779,42.0,33.0,68.0,75.0,20.0,19.0,1.211660,1.272727
9,1493.346,"employment=b""'>=7'"" AND foreign_worker=b'yes' ...",199.0,1000.0,43.050251,35.546,11.715964,11.369779,42.0,33.0,68.0,75.0,20.0,19.0,1.211114,1.272727

In [6]:
task = ps.SubgroupDiscoveryTask (data, target, searchSpace, 
                                 resultSetSize=5, depth=2, 
                                 qf=ps.GAStandardQF_numeric(1, False))


%time result = ps.SimpleDFS().execute(task)
ps.as_df (data, result, ps.all_statistics_numeric)

CPU times: user 42.8 s, sys: 280 ms, total: 43.1 s
Wall time: 47.2 s

,quality,subgroup,size_sg,size_dataset,mean_sg,mean_dataset,std_sg,std_dataset,median_sg,median_dataset,max_sg,max_dataset,min_sg,min_dataset,mean_lift,median_lift
0,1.791862,"employment=b""'>=7'""",253.0,1000.0,42.628458,35.546,11.127553,11.369779,42.0,33.0,74.0,75.0,20.0,19.0,1.199248,1.272727
1,1.417502,residence_since=4.0,413.0,1000.0,38.978208,35.546,13.178308,11.369779,37.0,33.0,75.0,75.0,19.0,19.0,1.096557,1.121212
2,1.173792,"personal_status=b""'male single'""",548.0,1000.0,37.687956,35.546,11.079148,11.369779,36.0,33.0,75.0,75.0,20.0,19.0,1.060259,1.090909
3,0.893032,"housing=b""'for free'""",108.0,1000.0,43.814815,35.546,12.129050,11.369779,42.0,33.0,75.0,75.0,22.0,19.0,1.232623,1.272727
4,0.847022,"credit_history=b""'critical/other existing cred...",293.0,1000.0,38.436860,35.546,11.576439,11.369779,36.0,33.0,75.0,75.0,20.0,19.0,1.081327,1.090909

In [1]:
sg = result[0][1]
fig = ps.plot_distribution_numeric(sg, data, bins = np.linspace(18, 90, 20))

NameError: name 'result' is not defined